* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #3A3535;
    background-color: #ff7315;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #232020;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: 2px #FF7315 solid;
  }
  
  
  
  header {
    position: relative;
    padding: 12% 0;
    background: url('tampa.jpg') no-repeat center center fixed;
    opacity: 0.8;
  }
  .textbox {
      background-color: #3a3535;
      color: #ff7315;
      font-family: 'Playfair Display', serif;
  }
  section {
    position: relative;
    min-height: 200px;
    padding: 5px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-around;
  }

  .myPic {
      max-height: 200px;
      border-radius: 50%;
  }

  .aboutMe {
      max-width: 66%;
      font-family: 'Abel', sans-serif;
  }
  
button {
    background-color: #FF7315;
    width: 100px;
    height: 25px;
    border-radius: 15px;
}

  .screenshotContainer {
      position: relative;
      height: 200px;
      width: 33%;
      border: 1px #FF7315 solid;
      
  }

  .screenshot {
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
  .description {
      height: 200px;
      width: 66%;
      border: 1px black solid;
  }


  @media screen and (max-width: 820px) {
      section {
          display: flex;
          flex-direction: column;
      }

      .screenshotContainer {
          width: 100%;
      }

      .description {
          width: 100%;
          height: 300px;
      }
      .aboutMe {
          margin: auto;
      }
  }
  